extends base

block content
    p Hi #{firstName},
    p Forgot your password? Please click on the link below to redefine it.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Redefine password
    p If you did not request a password recovery, please ignore this email.
    p - Igor Lajovic, CEO